[2020-12-03 16:33] wouterdebie opened #1 "Unit tests"
Project is lacking unit tests, but they should be there..

[2020-12-03 16:35] wouterdebie opened #2 "Re-download FCC facilities once in a while"
locast2dvr downloads and caches the FCC facilities at startup and uses the cached version on subsequent starts, but never invalidates the cache. It'd be nice to download the facilities once in a while.

[2020-12-03 16:36] wouterdebie opened #3 "Document how to run as a daemon"
Document how to run as a daemon on different Linux distro's and MacOs

[2020-12-03 16:36] wouterdebie opened #4 "Add Docker stuff"
I'd probably be nice to add a Dockerfile in order to run locast2dvr inside a Docker container.

[2020-12-03 16:37] wouterdebie opened #5 "Debian/Ubuntu package configuration"
I'd be nice to have a Debian/Ubuntu configuration for easy installation

[2020-12-03 16:40] wouterdebie opened #6 "Standardize logging between Translogger and the rest of the logging"
When using `-vv` a Translogger middleware is activated to enable HTTP request logging. The logging format is completely different then the rest of the logging. It'd be nice to standardize this.

[2020-12-03 16:42] wouterdebie opened #7 "Redo FCC facilities implementation"
This logic was directly copied from `locast2plex` and there's a O(n) lookup for each facility lookup. This doesn't happen often, but just seems wrong. It's probably better to create a mapping that allows for fast lookups when starting .

[2020-12-03 18:32] wouterdebie opened #8 "SSDP broken"
SSDP doesn't seem to work. Neither Emby nor PMS seems to be able to find locast2dvr

[2020-12-03 18:38] #6 closed

[2020-12-04 00:07] deathbybandaid commented on #8
Going to follow this thread as I'm seeing the same thing with a custom SSDP implementation for [fHDHR](https://github.com/fHDHR/).

Since I have varients of the script for different origin content, and I'm using SSDP, I managed to get the varients to 'cluster' together from the web interface.

Setting my logger to debug shows that it's working, but I've always ended up manually adding the ip:port

[2020-12-04 01:18] wouterdebie commented on #8
I've been experiencing the same thing. I've been looking through Emby code to try and figure out what response they expect, but have been unsuccessful so far. Keep me posted if you happen to find something.

[2020-12-04 14:22] deathbybandaid commented on #8
I have a theory that I'm playing with, sending a `ssdp:alive` on a refresh interval

[2020-12-04 15:05] deathbybandaid commented on #8
Didn't seem to help, but I'm happy with implementing it anyway.

I also noticed in Emby that you can try to autodetect "M3U Tuners", I already have an implemented M3U system, so if there's an SSDP method to broadcast as that as well, I'd like to implement that as well.

Plex is implementing a "Remote Media Grabber" system as well, which differs from how HDHomerun appears.

[2020-12-04 16:12] deathbybandaid commented on #8
I posted in the Emby community looking for answers

https://emby.media/community/index.php?/topic/92566-could-use-some-ssdp-help/

[2020-12-05 19:31] #7 closed

[2021-01-01 21:51] SJLBoulder opened #9 "ERROR - locast2dvr.http.interface:Exception on /device.xml [GET]"
I've got locast2dvr running successfully with IP address 127.0.0.1, but it fails when specifying the address (192.168.1.10) of the server it's running on.
NOTE 1: locast2plex runs successfully with IP address 192.168.1.10.
NOTE 2: By the way, config.ini keyword "bind" does not seem to be recognized.  I need to specify the IP address with --bind on the command line.

2021-01-01 14:12:22 - INFO - Fa

[2021-01-04 23:10] SJLBoulder opened #10 "Running locast as a service modifications"
Again thanks for locast2dvr.

I was able to get locast as a service to work by making a couple changes to locast2dvr.service:

1) Probably obvious, but may not be obvious to everyone:  In locast2dvr.service,  "myuser" needs to be change to your username.

2) I was getting "systemd: locast2dvr.service: Failed to execute command: No such file or directory" error message.  I resolved this by adding /

[2021-01-04 23:25] wouterdebie commented on #10
Hi!

Thanks for the comments! A few questions:

1. I figured that was somewhat obvious, but I'll add it to the readme.
2. Did you `chmod +x /path/to/wrapper/file`?

Take care!

[2021-01-04 23:27] #10 closed

[2021-01-05 03:13] SJLBoulder commented on #10
Hi, wouterdebie.

Yes, I did "chmod +x" the wrapper file.  I'm running PLEX and locast2dvr on Ubuntu 18.04 (Hyper-V VM). I'm not that familiar with Linux, and what I do know is mostly OMVS/Unix System Services (retired IBMer). So, I may have overlooked something. But chasing down the error message led me to that solution, and it worked.

Happy New Year!

[2021-01-05 14:00] wouterdebie opened #11 "Better caching"
When running with all DMAs, it takes a while to grab EPG data. This isn't a big deal when starting locast2dvr, since the HTTP interface isn't available yet, but when the cache expires, it might take a long time for the initial HTTP request to respond and clients (like Emby) might time out).
It's probably better to have a background thread update EPG data and always server the latest complete set.

[2021-01-05 17:12] Croq360 opened #12 "Better Integration With Plex"
If you have more than one DMA selected, and they share a channel number, that causes problems in Plex.  Plex will only allow a single station per channel (e.g., if you have more than one channel in the 4.1 slot, you can only pick one of them to display).

One option out there is that you can use xTeVe to remap the channels, but when you try to load lineup.m3u from locast2dvr, you get an error stat

[2021-01-05 17:18] Croq360 opened #13 "Allow Use of Local Channel Logos"
Many of the channel logos being provided through the locast/roku leave something to be desired.  In Emby at least, they show up so small in the guide, that across the room, they're difficult to see.  It seems like Emby would scale the logo bigger to fit in the available space, but that doesn't seem to be happening (or perhaps there's a bunch of dead space around many of the logos which is part of

[2021-01-05 17:46] wouterdebie commented on #13
I realized I used the small logos from locast (logo226Url from locast data) instead of the nicer ones that locast provides. I've updated 0.4.31 to use those instead and fallback to the smaller ones. Could you see if that works? If not, I might think about a logo override option.

[2021-01-05 18:42] wouterdebie commented on #12
Thanks for the feedback! I've fixed the m3u header in 0.4.32. Would you mind seeing if that works?

Regarding Plex though, I kind of moved away from development for that, since Plex is somewhat limited when it comes to handling multiple tuners (or even multiplexing them) and then have the right EPG data to go with that. That said, I'd be more than happy to implement what you are proposing, as long

[2021-01-05 19:02] Croq360 commented on #12
Thanks for the update, I'll check it out and let you know.  Regarding the renumbering (I think that's what you were referring to), yes, I'd be happy to test it out.

[2021-01-05 20:17] #11 closed

[2021-01-05 20:18] #3 closed

[2021-01-05 20:27] Croq360 commented on #13
It looks like your change fixed the issue.  It didn't reflect with just a EPG refresh in Emby, so I removed the EPG and DVR and added them back to Emby, and the larger logos appeared.

[2021-01-05 20:27] #13 closed

[2021-01-05 21:32] wouterdebie commented on #2
Fixed in 0.4.34

[2021-01-05 21:32] #2 closed

[2021-01-05 22:11] wouterdebie commented on #9
I fixed the inconsistency in the parameter naming. Things are now `bind_address` or `--bind-address`.

The unfortunate thing is that I can't seem to reproduce the stack trace you provided. It seems that in that particular case the `device.xml` template couldn't be found. Would you mind trying this with the latest version?

[2021-01-05 22:40] wouterdebie commented on #12
By the way, are you running this with the multiplexer option?

[2021-01-05 22:50] SJLBoulder commented on #9
Reminder - update the usage doc with the bind-address and bind_address changes.

But, still getting the device.xml template not found:
steve@ubuntu-plex:~/Downloads/locast2dvr-0.4.35$ locast2dvr --config ./config.ini
2021-01-05 15:44:56 - INFO - CLI: locast2dvr 0.4.35 starting
2021-01-05 15:44:56 - INFO - Facilities: Using cached file: /home/steve/.locast2dvr/facilities.zip
2021-01-05 15:44:56 - I

[2021-01-05 23:26] wouterdebie commented on #12
I just added a `--remap/-r` option that should do exactly as you mentioned. It's in version 0.5.0. Would you mind testing it out?

[2021-01-05 23:31] wouterdebie commented on #9
Thanks for the reminder about the README, I just updated it.

I don't understand why device.xml can't be found when you change the bind address.. Can you see if `device.xml` exists in your python dist? (i.e. `find /usr/local/lib/python3.6/ -name 'device.xml'`)

[2021-01-05 23:31] wouterdebie commented on #9
And would you mind sharing your `config.ini`?

[2021-01-05 23:54] SJLBoulder commented on #9
config.ini:  NOTE: password is just alphanumeric, no special symbols
username="xxxxxxxx@xxxxxxx.xxx"
password="xxxxxxxxxxxx"
port="6078"
verbose="0"
tuner_count="4"
bind_address="192.168.1.10"

There is no device.xml.  Exactly where should it be in /usr/local/lib/python3.6 ?

steve@ubuntu-plex:~/Downloads/locast2dvr-0.4.35$ find /usr/local/lib/python3.6/ --name 'device.xml'
find: unknown predicate

[2021-01-05 23:56] SJLBoulder commented on #9
Looks like the tilde caused the strike-thru.

[2021-01-06 00:07] wouterdebie commented on #9
Ah, how are you installing? The preferred method is to pip install
locast2dvr, but it seems you have downloaded the source?

On Tue, Jan 5, 2021, 17:57 SJLBoulder <notifications@github.com> wrote:

[2021-01-06 00:25] SJLBoulder commented on #9
Like I commented in another thread, I'm not a particularly knowledgeable linux user, and haven't used Linux/Unix much in the past 10 years (retired OMVS IBMer).

FIRST I TRIED:
steve@ubuntu-plex:~/Downloads$ pip install 'locast2dvr'
Command 'pip' not found, but can be installed with:
sudo apt install python-pip

NEXT:
steve@ubuntu-plex:~/Downloads$ python3 -m pip install 'locast2dvr'
Defaulting to

[2021-01-06 05:12] Croq360 commented on #12
I got a chance to test it out.

First, yes, I'm running the multiplexer option.

Regarding the channel remapping, it seems to be working, but it's only adding the 100/200/etc offsets on channels that have duplicate channel numbers.  What I had hoped for is that the first location would all have their actual channel numbers, the second would have 100 added to every one, not just the duplicate chann

[2021-01-06 17:15] wouterdebie commented on #9
First of all, what version of python do you have?

Could you try the following?

[code]

[2021-01-06 17:27] SJLBoulder commented on #9
steve@ubuntu-plex:/usr/local/lib$ ls
python2.7  python3.6  python3.8  python3.9
steve@ubuntu-plex:/usr/local/lib$ find -name 'device.xml'
steve@ubuntu-plex:/usr/local/lib$

steve@ubuntu-plex:/usr/local/lib$ cd ~/Down*
steve@ubuntu-plex:~/Downloads$ mkdir locast
steve@ubuntu-plex:~/Downloads$ cd locast
steve@ubuntu-plex:~/Downloads/locast$ python3 -m venv venv
steve@ubuntu-plex:~/Downloads/locast$

[2021-01-06 17:30] SJLBoulder commented on #9
(venv) steve@ubuntu-plex:~/Downloads/locast$ python3 --version
Python 3.6.9

[2021-01-06 19:07] wouterdebie commented on #12
The fix was really simple, so I've changed the code. I'll have a look at yours to make sure it's what you were thinking. Can you try out 0.5.2?

[2021-01-06 19:12] wouterdebie commented on #9
Ah! locast2dvr requires python > 3.7. That's why a `pip install` doesn't work. I'm not sure if I actually use things that really require >3.7, but since the project doesn't have any unit tests, it's hard to say. Do you have the ability to upgrade to > 3.7?

[2021-01-06 19:36] SJLBoulder commented on #9
I'll figure it out.  Sorry I didn't see that requirement, and realize that was the problem.  Thanks.

[2021-01-06 20:25] wouterdebie commented on #9
My bad. I hadn't written it down anywhere, but I'v added it to the README. Let me know how it goes.

[2021-01-06 20:46] Croq360 commented on #12
Sure, it'll be a little while, still working.  Yeah, I was able to fix it pretty easily on my end, but then started running into the increment changing from 100/200/300/... to 200/400/600/... to 300/600/900/... and so on with each access of epg.xml.  The changes I made in _remap fixed that so it always does 100/200/300/... for the numbering.

[2021-01-06 22:21] wouterdebie commented on #12
Haha, I hadn't even noticed that :) But you're right. I modify state and don't want to remap every single time. This is fixed in 0.5.4. Thanks for the heads-up!

[2021-01-07 06:50] Croq360 commented on #12
Looks to work perfectly now.  I liked your solution better than mine... :-)

Thanks for the updates over the last few days!

[2021-01-07 06:50] #12 closed

[2021-01-08 00:35] SJLBoulder commented on #9
Success.  Running locast2dvr in a Python3.9 venv with an IP address other than 127.0.0.1 is successful (no 'Exception on /device.xml' error).

I have more experimenting and reading to do and my terminology may not be accurate:
I installed a Python3.9 venv at ~/py39, and edited .bashrc (for the first time) adding near the begnining:
"source ~/py39/bin/activate ~/py39"
When I start a new terminal, I

[2021-01-09 14:35] #9 closed

[2021-01-10 20:09] lmartinez7641 opened #14 "SSDPServer: 'utf-8' codec can't decode byte 0xa0 in position 389: invalid start byte"
Getting error
2021-01-10 14:57:48 - INFO - Main: DVRs:
2021-01-10 14:57:48 - INFO - Main:   City    Zipcode      DMA  UID    URL
2021-01-10 14:57:48 - INFO - Main:   ------  ---------  -----  -----  ---------------------
2021-01-10 14:57:48 - INFO - Main:   Miami                528  id_0   http://127.0.0.1:6077
2021-01-10 14:57:54 - ERROR - SSDPServer: 'utf-8' codec can't decode byte 0xa0 in posit

[2021-01-11 18:37] Croq360 opened #15 "Update EPG/Station Cache At Certain Times of Day"
With the current station cache, you can turn it on or off and have stations get updated every X number of seconds.  I'd like to suggest an option that would allow you to specify certain times of day to make this happen.  That'd make the updates more predictable, and you could specify in Emby/Plex a time of day to update their copy.

Perhaps something like this (note that cache-timeout and cache-up

[2021-01-12 20:29] wouterdebie commented on #15
Interesting idea and I might implement this at some point. The way I did it the way it works right now is because it's really easy to use a timer that just executes every x seconds (in this case `cache-timeout` seconds). Adding update time would be a somewhat bigger effort though. I actually chose the timeout of 1h, because the grabbing all the data from locast.org isn't that big of a deal. The ti

[2021-01-12 21:56] Croq360 commented on #15
The main thing I was going for was to not be hitting the servers as often, and with the current implementation, it's possible that you could have Plex/Emby updating their guide and while doing that, your EPG update happens.  Had something weird occur this morning where the guide was all messed up when I checked it when I got up.  Monitoring that to see what might have caused that to mess up.  Mayb

[2021-01-12 23:07] wouterdebie commented on #15
I'm not too concerned with hitting their API too often. Once an hour a few requests shouldn't be that impactful.

The other thing you're talking about is the chance of a race condition. I encountered this a few weeks ago, where I was running with all zipcodes override (23 DVRs) and the response to Emby's update took too long (> 30 seconds or so), which caused Emby to time out and wipe out the comp

[2021-01-14 05:33] #15 closed

[2021-01-19 01:54] mpoplaw opened #16 "Optionally add season to EPG XML for Specified Genre"
Enhancement Idea:

It would be nice if there was an option add a default season (maybe use the current year?) if it doesn't exist to the epg xml for specific listing genre.   In Plex, if there is no season information, it treats the listing as a Movie which means there is no option to record the listing as a series.   An example genre that I cannot record as a series in Plex is:  News

[2021-01-19 14:07] wouterdebie commented on #16
Interesting idea! Is there another way to tell Plex that something is not a movie? Adding season information feels a bit like a hack. In the data I get from locast.org there is the field 'showType', which is set to 'Series' for news.

[2021-01-19 14:09] wouterdebie commented on #16
by the way, if I look at the [XMLTV example](http://wiki.xmltv.org/index.php/XMLTVFormat), the category has "Series" for news. I'll add and we can see what happens.

[2021-01-19 14:21] wouterdebie commented on #16
I've added this in 0.5.7. Would you mind testing this for me? I don't use Plex myself.

[2021-01-19 16:26] mpoplaw commented on #16
I’ll test it today when I have a chance and report back, yes.  Thanks.

Also, I’ve searched all over to figure out if there is a way to force plex to identify something as a series and not a movie and I don’t think there is, at least not yet.

I do agree it feels like a hack to inject season & episode information, but If it comes down to that, maybe we have options like...

season options:  <year>

[2021-01-19 18:42] wouterdebie commented on #16
I've added some more improvements. It seems using `<episode-num system="original-air-date">` and then either the startTime (in case of news) or the actual airDate seems to work well. This is available in version 0.5.8.

I'd be curious to hear your experiences.

[2021-01-19 21:34] mpoplaw commented on #16
Good news, in PLEX I can now record a News program as a Series.

This is what I see in the EPG XML now

episode-num for a News program:
`<episode-num system="original-air-date">2021-01-19 00:00:00</episode-num>`

episode-num for a standard series show:
`<episode-num system="xmltv_ns">5.4.</episode-num>`

I think this looks good.  Thank you!

[2021-01-20 00:43] wouterdebie commented on #16
It depends. The logic is as follows:

if there's an episode number and season number --> xmltv_ns
if there's an episode number --> xmltv_ns
if the genre is news or it's not a movie but is new --> original-air-date with program start time (includes the hour and mins)
if it's not a movie, but there's an original airdate --> original-air-date with airdate (doesn't include the hour and minutes)

So fo

[2021-01-20 03:43] mpoplaw commented on #16
Got it, this makes sense.  I didn’t realize it was UTC, so all zeros is expected!   Your work and explanation is appreciated.

[2021-01-20 20:06] #16 closed

[2021-01-20 20:08] wouterdebie commented on #14
Hi!

Sorry for the late reply. Mind sharing your config? I've made some changes to the codebase that might help. Would you mind trying the latest version?

[2021-01-20 20:08] #1 closed

[2021-01-20 20:09] wouterdebie opened #17 "Integration tests"
Given the project gets more and more complex, it'd be nice to have some integration tests.

[2021-01-21 02:17] mpoplaw opened #19 "Issue with News Episode UTC Dates"
So now that the News episode information is encoded with the UTC startTime, my 6pm news episode# is encoded as the following day since UTC is 6 hours ahead of me.  :)   This doesn't affect the ability to record it as a series on Plex, but it is a bit confusing since the episode date doesn't match the local "Air Time".   Is it possible to convert this to a local startTime on the fly?

[2021-01-21 02:21] mpoplaw commented on #19
Example:
`<programme start="20210122000000 +0000" stop="20210122003000 +0000" channel="channel.1595365081563">`

` <episode-num system="original-air-date">2021-01-22 00:00:00</episode-num>`

For UTC-6, the air date is actually 1/21, but the episode# is 2021-01-22.

[2021-01-21 02:36] mpoplaw commented on #19
Can +0000 be tacked on in the episode-num entry?

something like:
`<episode-num system="original-air-date">2021-01-22 00:00:00 +0000</episode-num>`

[2021-01-21 18:34] Croq360 opened #21 "Difficulty Closing Locast2Dvr.exe"
When I run the program in Windows in a command prompt, hitting Ctrl-C doesn't seem to kill the program.  Usually I can go into task manager and end task, but sometimes, it doesn't show there.  In order to kill it reliably, I have to use Process Explorer and kill either Locast2Dvr.exe (I can also kill the underlying Python process, but either seems to work).

[2021-01-21 18:44] wouterdebie commented on #21
I noticed this as well trying it in windows a while ago. I don't really know how to solve it though. I tried catching some interrupts, but that didn't work. Leaving this open for now and maybe there's someone with some ideas.

[2021-01-21 18:45] wouterdebie commented on #19
Absolutely. Let's give that a try and see if it works.

[2021-01-21 18:57] Croq360 commented on #21
This code sample works if I save it as "program.py" and run the command "python program.py":

import signal
import sys
import time

def signal_handler(sig, frame):
    print('You pressed Ctrl+C!')
    sys.exit(0)
signal.signal(signal.SIGINT, signal_handler)
print('Press Ctrl+C')
time.sleep(9999)

[2021-01-21 19:28] wouterdebie commented on #19
I've added this to 0.5.15. Could you test if this works?

[2021-01-21 19:31] wouterdebie commented on #21
I'm pretty sure I tried this, but since locast2dvr spawns a bunch of threads, it might not work. I might want to redo the way threads are created anyway, since there is currently not a nice way to clean them up.

Anyway, could you try adding this to main.py or cli.py and see if it works? (I don't have a windows environment set up currently).

[2021-01-21 19:51] wouterdebie commented on #19
I also added another system, called dd_progid which should help with determining episodes for a show.

[2021-01-21 20:06] Croq360 commented on #21
Ok, will add it to my list for tonight... :)

[2021-01-21 22:58] mpoplaw commented on #19
Yes, I’ll test this out tonight.  Thanks

[2021-01-21 23:18] wouterdebie commented on #19
Much appreciated!

On Thu, Jan 21, 2021 at 4:58 PM mpoplaw <notifications@github.com> wrote:

[2021-01-22 01:02] mpoplaw commented on #19
I have 0.5.17 installed and something is wrong.  For the program below, the PLEX episode now reads "8/22/05 - Episode 08-22".  I cannot figure out why it thinks this...  could it be the dd_progid?

` <programme start="20210122040000 +0000" stop="20210122043500 +0000" channel="channel.1595533936942">
    <title lang="en">WCCO 4 News at Ten</title>
    <desc lang="en">Local and regional news.</desc>

[2021-01-22 01:13] mpoplaw commented on #19
I am refreshing guide data on plex using 0.5.16 now.  I see that dd_progid is now used in this version.

[2021-01-22 01:34] mpoplaw commented on #19
0.5.16 still had the 8/22/05 news episode and +0000 in <episode-num>.   I then installed 0.5.15 and I no longer see +0000, and the episode number (date) was back to being off by the difference in timezone :  -6000.

So it looks like adding +0000 is not working like we thought.

[2021-01-22 01:43] mpoplaw commented on #19
A couple more ideas for formatting the time...
`<episode-num system="original-air-date">2021-01-22 00:00:00+0000</episode-num>`
or
`<episode-num system="original-air-date">2021-01-22 "00:00:00 +0000"</episode-num>`

what do you think?

[2021-01-22 12:48] lmartinez7641 commented on #14
Hi,

First let me say that i find this application very useful, i was using
before locast2plex and found yours gave it a tried and since then i'm hooked
attached is part of the log

uid="locast2dvr"
verbose="1"
override_zipcodes="33193,10001,20540,90002"

Thank you

On Wed, Jan 20, 2021 at 3:08 PM Wouter de Bie <notifications@github.com>
wrote:

[2021-01-22 14:11] wouterdebie commented on #14
It seems that the SSDP server has a hard time with something on your network. Given that SSDP is actually not working, I'll disable it for now.

[2021-01-22 14:39] #14 closed

[2021-01-22 14:39] wouterdebie commented on #14
I just added an option in 0.5.18 to enable SSDP, but it's disabled by default.

[2021-01-22 14:58] wouterdebie commented on #19
The stuff we did with the original-air-date might actually be a bit of a hack. Maybe we should try it just with dd_progid and see what happens? Could you provide me your config (especially zip codes) and what program you're looking at to validate if it works or not?

[2021-01-23 00:12] mpoplaw commented on #19
I run locastdvr via (user & pass removed):
`locast2dvr --multiplex --override-zipcodes=55410`

I am validating with PLEX Media Server.  I'll see if I can experiment on my side over the weekend as well.   Thanks.

[2021-01-25 23:04] wouterdebie commented on #19
I think I fixed the timezone offset in 0.6.0. I couldn't figure out how to tell Plex what timezone the timestamp was in, so I added timezone support in locast2dvr. Based on the lat/long of the DMA, I'll lookup the timezone and use that to offset the startTime of the broadcast. I've tested it with Plex and it seems to work.

[2021-01-25 23:39] wouterdebie commented on #8
I disabled SSDP by default since it seems broken, but can be reenabled with `-s/--ssdp`. Will need some further investigation.

[2021-01-26 00:11] Croq360 commented on #21
I haven't been able to get this tested out yet.  Busy with our remap testing.  Will get back to this once that's done.

[2021-01-26 02:39] mpoplaw commented on #19
I made a similar change over the weekend to get this working, but yours is much more elegant.   Looks good and works great, at least until PLEX changing something on their side.  Thank you again!

[2021-01-26 14:22] wouterdebie commented on #19
My pleasure and thanks for having a look! I'll close this issue for now.

[2021-01-26 14:22] #19 closed

[2021-01-31 01:19] eqpaisley opened #22 "Anyone have a guide for newbs to set this up?"
Trying to follow the instructions but cannot get this installed.

`pip install locast2dvr`

gives me

[code]
And if I  `git clone ` the repository, locast2dvr is not an executable.

[2021-01-31 13:17] wouterdebie commented on #22
What python version are you using? You need python 3.7 or higher.

On Sat, Jan 30, 2021, 19:20 EQ Paisley <notifications@github.com> wrote:

[2021-01-31 17:47] eqpaisley commented on #22
3.7 is installed   I just updated my python alternatives to see if that's the issue but that didn't work either.  Does this have to be cloned before using `pip install` ?  It doesn't say that in the install instructions.

[2021-01-31 17:54] eqpaisley commented on #22
Following up. Here's what I am seeing when I try to install:

[code]
I do have python3.79 installed but when I `python --version`  it still tells me 3.6.9

[2021-02-01 01:20] #22 closed

[2021-02-01 01:24] eqpaisley opened #23 "Offset the EPG?"
With the ability to have multiple instances from different time zones running, it would be useful to have the ability to offset the guide.  If I load LA stations and NYC stations into Emby (Jellyfin) and it's 6pm server time, the LA stations will be off (or vice versa)

[2021-02-01 03:10] wouterdebie commented on #23
All times in the epg are in UTC, so they should be ok.

On Sun, Jan 31, 2021, 19:24 EQ Paisley <notifications@github.com> wrote:

[2021-02-01 03:29] eqpaisley commented on #23
Ok thanks!

[2021-02-01 03:29] #23 closed

[2021-02-01 03:32] eqpaisley opened #24 "Running locast2dvr in the background?"
I see there's a startup service. It will take me a while to disect that and make it work in the mean time, is it possible to run it from the command line and have it run in the background.  Right now, closing my SSH window closes the program.

[2021-02-01 03:43] wouterdebie commented on #24
The way of running locast2dvr in the background is described in the readme,
at least for distributions with systemd.
Another way is to run locast2dvr in tmux or screen or run it with `nohup
locast2dvr .... &`.
I would suggest reading up on linux fundamentals though, since your
question isn't really related to locast2dvr.

On Sun, Jan 31, 2021, 21:32 EQ Paisley <notifications@github.com> wrote:

[2021-02-01 15:05] #24 closed

[2021-02-05 15:43] Croq360 opened #25 "Add Sacramento, CA to locations list"
Locast announced that Sacramento, CA was added to their system.  Please update the locations list to reflect that.

[2021-02-05 17:06] #25 closed

[2021-02-09 18:51] deathbybandaid opened #26 "[NOT AN ISSUE] Useful DMA Info"
I tossed together a quick python script that checks all possible DMA numbers on Locast for availability, and outputs how many channels are available in that DMA. Here's a paste of the results for those interested

https://pastebin.com/C6ujdwzi

[2021-02-09 19:13] wouterdebie commented on #26
Great! Are you using the locast.org API (https://api.locastnet.org/api/dma) for this? How did you get the channel count?

[2021-02-09 19:23] deathbybandaid commented on #26
yes I am!

https://github.com/fHDHR/fHDHR_plugin_origin_locast/blob/main/web/locast_api_tools.py#L76-L101

https://github.com/fHDHR/fHDHR_plugin_origin_locast/blob/main/web/dma_markets.py

[2021-02-09 21:01] wouterdebie commented on #26
Great, thanks! Where do you use this for?

[2021-02-09 21:13] deathbybandaid commented on #26
I'm the dev of fHDHR. I based my code on locast2plex, but development was too slow, and now my code doesn't even resemble l2p.

I made fHDHR into a plugin-based system, to allow different 'origin' media like locast, PlutoTV, tvheadend, etc. I added a database, a web interface,and removed the requirement of ffmpeg.

https://github.com/fHDHR/fHDHR

[2021-02-09 21:20] wouterdebie commented on #26
Yeah, I figured :) Thanks for the heads-up!

[2021-02-09 22:04] Croq360 commented on #26
@deathbybandaid - I'm intrigued by the "removed the requirement of ffmpeg" statement.  In some testing with multiple recordings at once using Plex, that seemed to be the bottleneck for me, and it would start falling behind.  Sometimes with certain programs, I'd even get missing segments when recording just one thing at once.

[2021-02-09 22:14] deathbybandaid commented on #26
I did a bunch of research on m3u8, and wrote a method to do this with just python requests module. I also handle decryption for encrypted m3u8 streams.

Recently I even wrote a basic quality selection setting for high,medium,low.

Ffmpeg and VLC are also stream plugins for those that prefer.

[2021-02-09 23:43] wouterdebie commented on #26
Really cool! I just looked at your code and it's fairly straight forward. @Croq360 I'll some functionality to remove ffmpeg as well, so you can test if you want.
That said, I just got rate limited by locast, since I requested the steam uri way too often because of a bug :) But I'll continue when the rate limiting is over :)

[2021-02-10 00:39] Croq360 commented on #26
Sure, happy to test out!  Just let me know.  Maybe I'll dust off my alternate remapper (by callsign) too if we can get that going.

What's the "rate limiting"?  Is that when you've watched too many channels too quickly?

[2021-02-11 20:14] wouterdebie commented on #26
@Croq360 I released this in 0.7.0. There's a new option `-ds/--direct` that you can use to enable this.
@deathbybandaid thanks for this! I took inspiration from your code. One thing I added was timing of serving chunks. Locast2dvr uses Flask and waitress to serve and it seems that output is buffered, so yielding chunks is pretty much instant. This caused locast2dvr hammering the locast stream_url,

[2021-02-11 20:15] wouterdebie commented on #26
Yes, locast rates the amount of requests you can do per some timeframe (minutes, seconds). I made a mistake and my code kept on hammering their API. On next login I got blocked. Turns out you have to wait an hour for it to go away though.

[2021-02-11 20:20] deathbybandaid commented on #26
I'll check that out. When I wrote my iteration, I did find I was hitting the m3u8 more often than needbe.

I will probably steal some code from you! I didn't know about the `.duration` attribute for m3u8 chunks.

[2021-02-11 20:24] deathbybandaid commented on #26
I really like your `OrderedDict` system over my current list system. Really slick!

[2021-02-11 20:32] deathbybandaid commented on #26
One thing you don't have in your version is decrypting the chunks, which isn't needed for locast streams, but fHDHR supports services like PlutoTV that has to decrypt.

One thing I REALLY need to figure out is adding an abstraction layer to allow fHDHR to serve multiple clients from the same stream, which would really help with the locast stream limitations.

[2021-02-11 20:38] deathbybandaid commented on #26
One tip I'd have for you that seems to help, is making use of `request.session`, seems to help with locast especially.

[2021-02-11 20:47] deathbybandaid commented on #26
I'll also leave the below link here, if you are interested in also supporting VLC streaming:

https://github.com/fHDHR/fHDHR_plugin_stream_vlc/blob/main/__init__.py

[2021-02-11 20:52] Croq360 commented on #26
@wouterdebie - I'll check it out.  Should I wait for you to look at the "request.session" thing that @deathbybandaid or is it worth testing out anyway without that?  There is some time on my end as I can't test until a bit later tonight (I have one thing recording early, so can set up some other simultaneous recordings after that to see how they do).

Regarding the "rate limit" thing, I even ran i

[2021-02-11 22:18] wouterdebie commented on #26
Please do!

I didn't know either :) I went down a rabbit hole of parsing the .ts stream to figure out the duration and/or bitrate, but this was much easier :)

Thanks! I like clean code :)

I deliberately didn't implement this, since locast.org doesn't encrypt strings, so it would be kind of pointless. I like to create things I use myself and I'm not using anything else than locast right now, but

[2021-02-11 23:35] deathbybandaid commented on #26
The quality setting is just in the config settings.

However, I worked really hard to emulate what a real hdhr does

[2021-02-12 13:19] deathbybandaid commented on #26
@wouterdebie Below might be useful to you for quality selection. This has logic to deal with multiple nested playlists, and m3u8 with variant streams not in any particular order. I also built in some logic to re-sort the variants by bandwidth and resolution (resolution isn't always given.) I have 3 quality settings `high,medium,low` which just select `-1,len/2,0`. This isn't perfect, but different

[2021-02-12 14:31] Croq360 commented on #26
@wouterdebie - I did some testing in PMS last night, and it seemed mostly okay.  One of the shows had a part where it jumped forward from some missing video for maybe 1-3 seconds (maybe it was a dropped segment or something?).  I'll continue watching the other shows to see if I notice any other issues.

I also noticed that the length of the recordings are a few seconds short of being full length.

[2021-02-12 15:18] wouterdebie commented on #26
@Croq360 thanks for testing! I'm pretty sure that the time issue doesn't have to do with locast2dvr, since locast2dvr doesn't have a notion of program. Plex/Emby ask for a stream and stop whenever they want. The request for the stream happens only once and locast2dvr just serves continuously as long as Plex/Emby doesn't disconnect.

The 1-3 seconds jumps are interesting, since I'd expect at least

[2021-02-12 15:20] deathbybandaid commented on #26
I've been using my version of the "direct" method for a long time now, and I think it works just as well.

[2021-02-12 15:32] Croq360 commented on #26
So far, in my testing, the direct method is working MUCH better than ffmpeg did for Plex.  I have more stuff to record today and will set up some other record-once shows to keep testing.

Regarding the lengths of the recordings, they are all showing as 3-4 seconds short of the full length.  I'll take a look at the logs and see if this is just Plex starting and/or ending things a second or two off

[2021-02-12 15:33] wouterdebie commented on #26
It's similar to what I do, however, I just pick the top resolution and do that in a one-liner :) If there are users of locast2dvr that always want a specific max resolution, I'll implement it, but there is no real need for now. In the locast case, the m3u8 from the stream_url either contains a single url to a stream, in which case I just use that, or a list of playlists with specified resolution.

[2021-02-12 15:36] wouterdebie commented on #26
This would be my guess. it could very well be that some buffers go unflushed, or that the last segment is streamed, but not written to disk. That said, it's good to know that the overall experience is much better. I'll add some additional logging for skipped segments later today.

[2021-02-12 15:37] wouterdebie commented on #26
What use cases do you have for continue to support ffmpeg and vlc?

[2021-02-12 15:41] deathbybandaid commented on #26
Yup, always improving my codebase as I learn, I'll look at my codebase for indexing next.

I have some users that claim vlc/ffmpeg methods as being superior for their usecases, but I've moved vlc/ffmpeg to their own plugins, seperate from the core code.

One thing on my long-term list is to support hardware transcoding as well.

I also have a plugin that adds the ability to stream in the web inter

[2021-02-12 15:52] deathbybandaid commented on #26
I also didn't know exactly how emby handled "m3u tuners", so I'm also now implementing a method for fHDHR to redirect to the m3u8 url directly

[2021-02-12 15:53] wouterdebie commented on #26
@deathbybandaid ah gotcha.. The philosophy behind locast2dvr (and that's not better or worse than any thing else) is to keep it as simple as possible and don't have feature creep. I'll let transcoding and stuff handled by Emby/PMS.

[2021-02-12 15:55] wouterdebie commented on #26
The only thing I do is redirect (http 302) to a locast m3u url. Unfortunately Emby doesn't support playlists with multiple resolutions (yet), so I have to still get the playlist with a specific resolution.

[2021-02-12 15:56] deathbybandaid commented on #26
I work in IT, and between calls, I code. I code out of boredom, feature creep is real, but it's always one more hurtle challenge to keep my mind active.

[2021-02-12 15:59] deathbybandaid commented on #26
The only catch I'm seeing with implementing that redirect in fHDHR, is controlling the amount of client streams

[2021-02-12 16:06] deathbybandaid commented on #26
@wouterdebie I'm going to shoot you an email.

[2021-02-12 16:21] Croq360 commented on #26
@wouterdebie - I just had a show record that is missing over half of the video when it finished.  I'll grab your latest update with the additional logging on segments and try it again in a different timeslot.

By the way, in the log currently, there were a ton of messages (dozens per second when they happened) where it stated:

INFO - HTTPInterface: Added 0 new segments, removed 0

Maybe that can

[2021-02-12 16:49] wouterdebie commented on #26
@Croq360 that is indeed a good clue.. this means that all know segments have been sent to the client, but there were no new ones. Do you have the full log?

[2021-02-12 16:57] Croq360 commented on #26
Unfortunately, no, I already upgraded to the latest version.  If it happens again, I'll capture it and send it along.

[2021-02-12 16:57] wouterdebie commented on #26
I've added even more logging in 0.7.3. Make sure you run with -v/--verbose

[2021-02-12 16:59] wouterdebie commented on #26
Technically it shouldn't, but you never know :)

[2021-02-12 17:39] wouterdebie commented on #26
I hear you, but why would you care?

[2021-02-12 17:48] deathbybandaid commented on #26
well, specifically Locast has the stream limit before they start throttling

[2021-02-12 18:00] wouterdebie commented on #26
I think that's only the case for authenticated and/or API requests and if you redirect, the request will be unauthenticated anyway (i.e the Bearer header will not be set). Secondly, the streams themselves will go to https://hls.locastnet.org, which I don't think is throttled..

[2021-02-12 18:15] deathbybandaid commented on #26
Mostly Referencing:

https://helpcenter.locast.org/portal/en/kb/articles/max-streams#:~:text=Max%20Streams%2FRate%20Limit,on%20to%20the%20next%20channel.

[2021-02-12 18:17] deathbybandaid commented on #26
Not saying you're wrong about the hls endpoint, but it's still good practice to abide by the terms of a service to avoid a Cease and Desist

[2021-02-12 18:57] Croq360 commented on #26
The rate limit stuff is part of the reason I set up the DVR as having 3 tuners and not 4.  That way, theoretically, I always have 1 in reserve.

[2021-02-12 19:23] Croq360 commented on #26
@wouterdebie - I recorded another occurrence of the program that had issues earlier.  It worked fine.  I'll keep an eye out for issues on maybe some other programs and will let you know if/when anything comes up.

[2021-02-12 19:33] wouterdebie commented on #26
Yeah, but this seems only true for api calls and not for the actual stream. Thinking this through a little: how are you currently limiting the amount of clients? I understand that there is more control when the actual stream flows through your application, but what real mechanisms do you have? The coordination between clients is not there. The only mechanism that currently exists is the fact that

[2021-02-12 19:35] wouterdebie commented on #26
True. But this only works for locast2dvr in HDHomerun mode and not for m3u mode, since no tuner count is communicated to Plex/Emby with `tuner.m3u`.

[2021-02-12 20:01] deathbybandaid commented on #26
so each origin is assigned X amount of "tuners" (as defined in the config). I then use threading locks to make a tuner "in-use". Per real HDHR docs, a Tuner can be used for scanning as well as streaming.

So if the config for my Locast plugin has 3 tuners, fHDHR controls how many connections to Locast can be made. If no tuners are available, it sends the client the expected response code `response

[2021-02-12 20:08] deathbybandaid commented on #26
The Tuners are exposed at `ip:port/api/tuners`

https://github.com/fHDHR/fHDHR/blob/main/fHDHR_web/api/tuners.py

[2021-02-12 20:13] Croq360 commented on #26
In Emby, when I create an m3u tuner, there's an option for "Simultaneous stream limit".  Wouldn't that accomplish limiting how many things can be watched or recorded at once?

For Plex, since I'm using HDHR mode (I remember reading it doesn't support m3u), I set the number of tuners in the Locast2Dvr config file (well technically, I'm just not overriding the default of 3).  And Plex recognizes it

[2021-02-12 20:18] wouterdebie commented on #26
@deathbybandaid oh nice! Thanks for the detailed explanation!

[2021-02-12 20:21] wouterdebie commented on #26
Yep! That will do the trick! And for HDHR you're right, the tuner count will take care of that.

I do like what @deathbybandaid did, where the amount of used tuners is not only enforced by Plex/Emby, but also by his application. Say that you have multiple Plex/Emby instances, you might want to limit the number of streams at the locast2dvr/fHDHR level. Unfortunately this isn't possible with m3u, be

[2021-02-12 20:26] deathbybandaid commented on #26
@wouterdebie I've had support for m3u for a while, with the m3u url just using the /api/tuners interface. Just today though I added the "passthrough" method like I saw in your code.

https://github.com/fHDHR/fHDHR/blob/main/fHDHR/device/channels/channel.py#L163-L165

[2021-02-12 20:38] deathbybandaid commented on #26
In fact, my HDHR plugin adds endpoints that plex/emby expect from a HDHR, and 302's to my /api/tuners

https://github.com/fHDHR/fHDHR_plugin_interface_hdhr/blob/main/web/auto_origin.py

[2021-02-12 20:51] wouterdebie commented on #26
@deathbybandaid one thing I wanted to ask you, does SSDP work in your implementation? I've recently disabled it, since neither Plex nor Emby can seem to find locast2dvr. I've tried digging through code and coming up with experiments, but for some reason I can't seem to get it to work. Any pointers?

[2021-02-12 20:57] deathbybandaid commented on #26
I created my own SSDP implementation, the one from L2P never worked.

Often in Plex I'll see "A tuner was found" (or whatever the message says) at the top, but I have not been able to get it to show in plex/emby when I try to find them with autodetect.

However, I have a cluster plugin for clustering multiple fHDHR instances together, and that works great. I also can see the SSDP traffic for other

[2021-02-12 20:58] deathbybandaid commented on #26
I also added buttons to the web interface to try to manually control SSDP

![image](https://user-images.githubusercontent.com/18010545/107821839-25dac080-6d4b-11eb-9cdc-3cbb282086dd.png)

[2021-02-12 21:01] wouterdebie commented on #26
Yeah, I've noticed the same thing.

How does that work? What do you do with this? And how does it relate to SSDP?

Yeah, same here.. For some reason, plex/emby doesn't seem to actually download the device.xml or whatever I specify as the location.

[2021-02-12 21:03] deathbybandaid commented on #26
Since I was already playing with SSDP, I used SSDP to to detect other fHDHR instances

![image](https://user-images.githubusercontent.com/18010545/107822264-d21ca700-6d4b-11eb-9511-34cf8ac641a7.png)

https://github.com/fHDHR/fHDHR_plugin_interface_cluster

[2021-02-12 21:04] deathbybandaid commented on #26
the cluster plugin is less important now that I can do multiple origins from a single instance

[2021-02-12 21:05] deathbybandaid commented on #26
![image](https://user-images.githubusercontent.com/18010545/107822420-160fac00-6d4c-11eb-9fdb-209f86157a0b.png)

[2021-02-12 21:09] deathbybandaid commented on #26
so when that happened just now, this is all I saw via flask

![image](https://user-images.githubusercontent.com/18010545/107822770-a3530080-6d4c-11eb-8743-7155a8cc5e24.png)

the /device.xml path doesn't even get hit, but how would it have know to look at this path??

[2021-02-12 21:31] wouterdebie commented on #26
What is the location that you advertise?

[2021-02-12 21:32] deathbybandaid commented on #26
/hdhr/NAMEOFORIGIN/device.xml

I advertise a device.xml per origin

[2021-02-12 22:04] wouterdebie commented on #26
Because that's what you advertise, right?

[2021-02-12 23:05] deathbybandaid commented on #26
But it doesn't show it being hit in the flask logs

[2021-02-12 23:12] wouterdebie commented on #26
I know.. and I think that's why it doesn't show when you're trying to find devices..

[2021-02-15 14:55] deathbybandaid commented on #26
I'm toying with a concept to limit client streams for m3u tuning. Instead of redirecting to the Locast M3U8, I'm going to try proxying the m3u8 file, and using some sort of watchdog to determine the client is no longer refreshing

[2021-02-15 15:13] Croq360 commented on #26
@wouterdebie - Overall, it seems to have been working pretty good with the latest updates.  I did have an issue where a show I had recorded showed the full show when I did a "get info" in Plex, but at particular point while playing back, it jumped about 20 minutes forward in the show.  When I loaded it in VLC, it indicated the show was 20 minutes shorter than in Plex.  So, it appears that the enti

[2021-02-15 17:52] deathbybandaid commented on #26
Made a little progress on my idea, I had a stream method on a seperate thread using `m3u8.load()`, using the `segment.duration` info for how often to refresh, and `playlist.dumps()` into a `io.StringIO()`.

I then redirected the client to an endpoint with access to the proxied m3u8 file. This would also save a `datetime.utcnow` every time the client pulled a fresh copy of the proxied m3u8.

The go

[2021-02-15 19:37] deathbybandaid commented on #26
On the flipside, I added a configurable buffer for streams (defaults to 3 chunks).

![image](https://user-images.githubusercontent.com/18010545/107987022-4436fb00-6f9b-11eb-83c1-857e3e15e882.png)

[2021-02-15 21:58] wouterdebie commented on #26
@Croq360 Ok, cool! I found another thing that might be in the way here. Python has a Global Interpreter Lock (GIL), which means that threads don't really run in parallel. If there are multiple streams going on that do quite a bit of I/O, it might be that locast2dvr can't keep up, since the whole process only runs on a single core and that could theoretically cause things to slow down. I'm working

[2021-02-15 22:00] wouterdebie commented on #26
@deathbybandaid very cool approach! You base the client id on IP and source port?

[2021-02-15 22:03] wouterdebie commented on #26
@deathbybandaid something else I figured out is that HDHomerun devices use 65001/udp for discovery besides SSDP. I have discovery working with a test UDP server and plex, but because of https://emby.media/community/index.php?/topic/94327-hdhomerun-detect-my-devices-bug-using-wrong-hostnameport/&tab=comments#comment-985946, this only works when you run your HDHomerun device on port 80.

[2021-02-15 22:37] deathbybandaid commented on #26
@wouterdebie yeah, research the other day suggested mdns being a key factor as well. In theory an nginx reverse proxy might help with port 80 issues

I assign clients a uuid at connection to flask.

[2021-02-15 22:57] deathbybandaid commented on #26
I'm interested in what you find out for that port. I'll add whatever it is to my hdhr plugin when we nail it. I'm also working with @DanAustinGH (who has a real HDHR) and wireshsrk to try and capture some data.

[2021-02-16 13:02] deathbybandaid commented on #26
@wouterdebie what's all this new UUID/Checksum stuff you've got going on?

[2021-02-16 15:08] wouterdebie commented on #26
@deathbybandaid I'm trying to get as close to a libhomerun implementation as possible. So I'm generating actual uuids and making sure the homerun device is valid: https://github.com/Silicondust/libhdhomerun/blob/7c54382fb681d03888b469033e50bebaf4ce6bce/hdhomerun_discover.c#L528

[2021-02-16 15:09] wouterdebie commented on #26
@deathbybandaid Working 65001/udp server: https://gist.github.com/wouterdebie/f8af08b1157659eb0f3c5286d2e4d012

[2021-02-16 15:27] deathbybandaid commented on #26
thanks for the info, I'm working on how to implement the uuid stuff into fHDHR_plugin_interface_hdhr.

I also added the ability for interface plugins to have a function to start threads, so that's what I'll do for this new UDP port

[2021-02-16 15:36] deathbybandaid commented on #26
Got the UID stuff implemented. Really interesting

![image](https://user-images.githubusercontent.com/18010545/108084993-d8a86880-7042-11eb-9ba9-8dc3b9457a1a.png)

[2021-02-16 16:55] deathbybandaid commented on #26
That UDP service was interesting to implement. Still had to switch to port 80 for emby to see stuff

![image](https://user-images.githubusercontent.com/18010545/108095357-c4b63400-704d-11eb-9180-7db1e48b5e4a.png)

I even managed to do a for-loop over my origins and send the data

https://github.com/fHDHR/fHDHR_plugin_interface_hdhr/pull/9

[2021-02-16 16:55] deathbybandaid commented on #26
Still has some work to do

[2021-02-16 17:05] deathbybandaid commented on #26
I'm thinking playing with mdns might make it so I can direct to the correct origin

[2021-02-16 17:31] deathbybandaid commented on #26
also I side note, xteve is on a non-80 port and shows up in Plex

[2021-02-16 18:04] deathbybandaid commented on #26
@wouterdebie https://community.getchannels.com/t/channels-with-hrtunerproxy/3841/4

I think 65001 is also a TCP binding that listens as well

[2021-02-16 18:16] deathbybandaid commented on #26
https://github.com/geertbongers/tvhProxy/commit/f3c77827f92892d0a1d3e35a1d523aaffeb8f8e6#diff-261d534dab77c66913c49ddea5b38deea49a9b1c40c5b7c095b50192637dc729R109-R140

[2021-02-16 19:53] deathbybandaid commented on #26
did some testing with the TCP method, and didn't see any traffic or logging with plex or emby

[2021-02-17 16:55] deathbybandaid commented on #26
restarted my plex server, and now it's detecting fHDHR at a non-80 port, but still not respecting the URL path (just like emby).

[2021-02-17 18:18] deathbybandaid commented on #26
new issue, and an odd one,,,

TvHeadend  is crashing when it detects the "hdhr" udp device on the network

[2021-02-17 18:39] deathbybandaid commented on #26
really interesting, I can disable the UDP service in fHDHR via my config, and tvheadend will run fine.

Turn it back on and

[code]

[2021-02-17 20:06] deathbybandaid commented on #26
I also want to note a user of fHDHR had trouble binding on Windows

[2021-02-22 03:48] Tuckie commented on #4
Yes please!

[2021-02-25 23:16] Croq360 commented on #26
So, I haven't had any more gaps in videos.  Things seem pretty solid in PMS for several days now.

[2021-03-02 01:23] wouterdebie commented on #26
Great! I'm actually rewriting the whole thing in Rust, which should be way
more performant! More on this topic soon!

On Thu, Feb 25, 2021, 17:16 Croq360 <notifications@github.com> wrote:

[2021-03-12 00:53] shinycard255 commented on #4
any update on this?

locast2plex is not working for me and was told of this earlier today!

[2021-03-12 15:41] eiddor commented on #4
@wouterdebie I was thinking about taking a crack at this using some `Dockerfile` examples from other related projects (this would be my first Dockerfile beyond just messing about locally, so it may take a while).

However, I saw [over here](https://github.com/wouterdebie/locast2dvr/issues/26#issuecomment-788490345) that you're rewriting things in Rust.  Should I wait and then attempt to do it then

[2021-03-12 15:49] wouterdebie commented on #4
@eiddor I'm pretty close wrapping up the Rust implementation, but I currently have other things I need to focus on, so it might take a few weeks before this will be ready to go. Having something in the locast2dvr repo wouldn't be a waste, since we could always reuse this for locast2tuner.

[2021-03-12 17:11] eiddor commented on #4
@wouterdebie Ok, I'm in the same boat as you time-wise, but this may not be too heavy of a lift - It would at least a good basic challenge for me!

I will probably have a couple of project questions, though - For example:

The one thing I'm seeing in the locast2plex project `Dockerfile` is a hook into the project code itself that the fHDHR `Dockerfile` does not bother with (I know they're differen

[2021-03-12 21:15] eiddor commented on #4
Thinking about this, we probably do want to force the ip and port if we're running in a container, but I can probably just do that from the `ENTRYPOINT` (assuming we can take CLI options and read a config file at the same time):

`ENTRYPOINT ["localst2dvr", "--config", "/app/config.ini", "--bind-address", "0.0.0.0", "--port", "6077"]

Another question I have - Do we have any data that we need to p

[2021-03-12 21:56] wouterdebie commented on #4
@eiddor I think you're right. Just start locast2dvr with `--bind-address 0.0.0.0`. Tbh, locast2plex does a lot of strange things :)

After copying the source tree in to the container, I'd install locast2dvr with `pip install .`. This installs all the runtime dependencies and the app itself.

[2021-03-12 22:34] eiddor commented on #4
Yeah, I'm only using locast2plex/fHDHR to figure out the basic structure relative to the `Dockerfile` since they're a good simple ones to start with.

Here's what I've got so far - using fHDHR's as a template.

[code]

I haven't tested this at all yet, as I'm still trying to think some things through, so I'm sure it won't work.  I plan on messing with it more this weekend.

It's definitely going t

[2021-03-13 20:01] eiddor commented on #4
Ok, this is working well so far:

`Dockerfile`

[code]

Test results (image names may be different in the final push):

[code]
It will also work with `docker-compose`:

`docker-compose.yaml`

[code]

Results:

[code]

The user will have to create a `config.ini` and put it in a directory.  They will then have to specify that directory as a volume mapping on the `docker run` CLI or in `docker-compos

[2021-03-13 20:53] eiddor commented on #4
Well that was pretty painless - Running under the same `docker-compose.yaml` file as my Plex, connected it using the external host IP port 6077.

![image](https://user-images.githubusercontent.com/7586731/111044019-a56fb400-840b-11eb-8747-43ae8ceaea05.png)

![image](https://user-images.githubusercontent.com/7586731/111044010-98eb5b80-840b-11eb-86d4-74161b4ef306.png)

[2021-03-14 00:38] wouterdebie commented on #4
@eiddor Amazing! Would you mind creating a pull request with the Dockerfile?

[2021-03-14 02:27] eiddor commented on #4
@wouterdebie I will once I'm positive that it's working -

When I try to tune to a channel in Plex, I'm getting "Could not tune channel.  Please check your tuner or antenna."

![image](https://user-images.githubusercontent.com/7586731/111055149-88050f00-8438-11eb-855a-8aeb9087f5df.png)

Emby with M3U just gives me a spinning circle (Emby is on a different machine):

![image](https://user-images.gi

[2021-03-14 04:32] eiddor commented on #4
I knew that was too easy :-)

It works outside of Docker, so I need to figure out what the difference is. I may need your help with this part, @wouterdebie , since beyond turning `-v` on, I don't really know what I'm looking for or how things are supposed to work.

I'll look for a difference in any logs and try a few other things to see what I can figure out.

Here's the log output from when I cli

[2021-03-14 18:22] eiddor commented on #4
Ok, so I narrowed it down - locast2dvr doesn't like being bound to `0.0.0.0`.

Oddly enough, my test results were inconsistent between ffmpeg mode and `ds` mode inside of Docker, but it may be the same root cause.

Connection | ffmpeg (PMS) Results | ds (Emby) Results
----- | ----- | -----
Docker Host mode bound to Host IP | working | working
Docker Bridge mode bound to container IP | working | no

[2021-03-16 02:32] RandomNinjaAtk commented on #4
I'm seeing similar results, I started putting a docker together for this after being unable to get locast2plex to function. This is functioning in host mode as said. Otherwise I'm seeing similar results.

[2021-03-18 00:13] eiddor commented on #4
@RandomNinjaAtk Looking at [this](https://github.com/RandomNinjaAtk/unraid-templates/issues/17#issuecomment-801176266) -

You're able to bind to 0.0.0.0 in bridge mode and it works with Emby?  Is that using HD Homerun or M3U Tuner?

[2021-03-18 00:16] RandomNinjaAtk commented on #4
@eiddor Correct, it did function with emby normally from my brief test

[2021-03-18 16:03] eiddor commented on #4
@RandomNinjaAtk Can you tell me what mode (HD Homerun or M3U Tuner) you were testing with Emby?  I want to test it here to see if I can add some more results to the matrix above.

Also, if Plex and Emby behave differently with the same setup, it may give @wouterdebie a bit more information about where to look.

This brings me back to my original question about whether it's worth the effort since i

[2021-03-19 14:00] RandomNinjaAtk commented on #4
My tests were all using it as HD Homerun. I haven't had time to mess around with it more though

[2021-03-27 20:44] TheSamDickey opened #27 "Plex: Could not tune channel. Please check your tuner or antenna."
Hello!  I am running locast2dvr using the recommended python venv method.  Everything seemed to be working great.  All the channels popped up, and I was able to use the xml file to get all the stations added properly.

Whenever I try to watch any of the channels plex loads for a few seconds and then says: "Could not tune channel. Please check your tuner or antenna."

I manually downloaded ffmpeg-4

[2021-03-27 20:47] wouterdebie commented on #27
Hi!

Would you mind adding some logs to this ticket? FFmpeg is not strictly
necessary if you use the direct mode.

On Sat, Mar 27, 2021 at 3:45 PM Sam Dickey ***@***.***> wrote:

[2021-03-27 20:50] TheSamDickey commented on #27
Sure!  Where are the logs located?

And I wasn't sure from the readme if direct mode could work with Plex.  If it does, it seems a lot more efficient to do it that way

[2021-03-27 22:00] wouterdebie commented on #27
I should yes.. let me know if that works!

On Sat, Mar 27, 2021, 15:50 Sam Dickey ***@***.***> wrote:

[2021-03-27 23:06] TheSamDickey commented on #27
Alright so I've ran it with the direct flag and added it to plex.  It still has the same problem.

I enabled the verbose mode and it gave me this:
[code]

Do you think it could be a problem with locast not thinking I'm in the right dma zone?

[2021-03-28 02:55] TheSamDickey commented on #27
[log.txt](https://github.com/wouterdebie/locast2dvr/files/6216781/log.txt)
Here is a log file by the way

[2021-03-28 04:27] wouterdebie commented on #27
It seems locast2dvr can't find api.locastnet.org. what happens when you
type that into your browser?

On Sat, Mar 27, 2021, 18:06 Sam Dickey ***@***.***> wrote:

[2021-03-28 19:35] TheSamDickey commented on #27
I get "503 Service Temporarily Unavailable" when I put it into my browser.

[2021-03-28 19:40] wouterdebie commented on #27
Would you mind sharing your config? Are you in a locast region? And if not,
what do you override? Are there any proxies you or you ISP are using? The
problem seems to be with your connection to locast, rather than locast2dvr.

On Sun, Mar 28, 2021, 14:35 Sam Dickey ***@***.***> wrote:

[2021-03-28 19:42] wouterdebie commented on #27
Actually, I take that back.. the API connection gives a 503 for me as well,
which is fine.
However it seems that the host you're running locast2dvr on can't lookup
the proper name.

On Sun, Mar 28, 2021, 14:40 Wouter de Bie ***@***.***> wrote:

[2021-03-28 22:22] TheSamDickey commented on #27
I wouldn't mind sending my config, but could I send it to you through discord or something else?

I was messing around with this all day yesterday and also set up software called telly.  It's an IPTV proxy for Plex, and I read through a discussion on reddit where someone got it to work with locast2plex.  Anyways, when I point telly to locast2dvr it behaves the exact same where Plex says that it co

[2021-03-28 23:26] wouterdebie commented on #27
Are you sure that your routing/firewalling is ok? Can you reach the outside
world from the box that is running locast2dvr? Can both your subnets freely
connect to each other?  Bind address should be set to the IP your
telly/plex/emby wants to connect to as it defaults to 127.0.0.1.
Tbh, I'm suspicious of your network setup, since telly can't connect to
locast2dvr and locast2dvr has a hard time res

[2021-03-29 06:32] TheSamDickey commented on #27
I was fairly certain that my network was sound, everything seemed to work fine.  I simplified things by removing telly and putting it all on the same network and now it works great!

Thank you so much for the help, I really appreciate it!! :D

[2021-03-29 06:32] #27 closed

[2021-03-30 03:54] sumocomputers opened #28 "Audio & Video out of Sync"
I am using locast2dvr, and it works really well.

I am having an issue with recorded content where the audio and video are out of sync a little.

I understand this could be a Plex issue with mpeg2, but I don't have similar issues using a HDHomeRun Quatro and antenna.

I have tried recording different channels and even different zip codes, resulting in the same issue.

As for locast2dvr, I am runni

[2021-03-30 11:55] wouterdebie commented on #28
This shouldn't be a locast2dvr problem, since it doesn't do any
manipulation of the MPEG stream. You could try the direct mode to remove
ffmpeg from the equation, since it might remux audio and video.
That said, I have seen this before on the actual locast stream. It might be
that locast doesn't sync A/V correctly. Have you tried the same stream from
locast on their website?

On Mon, Mar 29, 2021,

[2021-03-30 14:17] Croq360 commented on #28
I've noticed that Locast audio and video are slightly out of sync too on stuff I have watched back, though it's very slight, and I haven't reported on it.  I've assumed that this is a Locast problem, not a Locast2DVR problem.  Note that I'm using direct mode, not ffmpeg.  I'll watch some live TV today, both in Plex and through Locast app directly, and will report whether I see the same problem the

[2021-03-30 14:23] wouterdebie commented on #28
I noticed the same a while ago, but not for all channels. I assume that
it's on the locast side unfortunately. When using direct, the only thing
that locast2dvr does is copy over the stream and I assume ffmpeg doesn't do
anything else either.

On Tue, Mar 30, 2021 at 9:17 AM Croq360 ***@***.***> wrote:

[2021-03-30 14:28] Croq360 commented on #28
Yeah, if I recall correctly, when I looked at the ffmpeg options being used, it's doing a copy, no extra processing of audio or video.  That being said, I did have other issues with ffmpeg with missing blocks of the show, it seemed that it wound up falling behind such that blocks would get missed in the Locast data - that's part of the reason wouterdebie added the direct mode, and that works SO mu

[2021-03-30 14:46] sumocomputers commented on #28
This is all great info, and looks like I have some work to do with gathering some data.

I had been avoiding watching directly on Locast because I had to go through a lot of VPN hoops to get Locast to think my location was valid.

[2021-03-30 15:06] Croq360 commented on #28
All the "direct" option does is to take ffmpeg out of the loop.  Locast2DVR handles everything in that mode.  I don't think it changes anything on the Locast side of things.

[2021-03-30 16:11] wouterdebie commented on #28
@crock360 is correct. The API calls to locast are exactly the same, but
instead of ffmpeg handling the eventual stream, locast2dvr does that. I
have actually considered removing ffmpeg support form locast2dvr, since
there doesn't seem to be a good reason for keeping it around. However, I'm
still working on locast2tuner (the much faster Rust implementation) and I
have ditched the feature there.

On

[2021-03-31 06:41] sumocomputers commented on #28
So after a bunch of experimentation, looks like I had the perfect storm of troubleshooting hell.

Turns out the shows I was having issues with seem to be problematic even in other locations (tried Cleveland and San Francisco in addition to Los Angeles).

Jeopardy was the big problem, and it doesn't matter whether it is carried by ABC or NBC, the audio is always out of sync.

I haven't watched dire

[2021-04-04 21:45] wouterdebie commented on #28
@sumocomputers thanks for the support! I'm closing this ticket though, since this doesn't seem to be an issue with locast2dvr.

[2021-04-04 21:45] #28 closed

[2021-04-04 21:46] wouterdebie commented on #26
I just pushed a workin Rust version at https://github.com/wouterdebie/locast2tuner. Someone might want to give this a try :)

[2021-04-04 21:47] wouterdebie commented on #4
FYI, I just pushed a working Rust version at https://github.com/wouterdebie/locast2tuner. Let me know what you think. I'm considering deprecating this project over the new one, but only after creating proper packages and such.

[2021-04-04 21:47] #21 closed

[2021-04-04 23:27] eiddor commented on #4
Awesome, @wouterdebie!  I've never touched Rust before, so I'll try to get it going locally and then work on Dockerizing it as well as maybe adding some notes in the documentation based on what works for me on the Ubuntu host that it will run on.

Hoping I don't hit the same network snags I hit with the Python version (which may have been triggered by ffmpeg in the first place).

[2021-04-05 05:16] Croq360 commented on #26
I saw that just now.  Giving it a try.  One initial observation is that the
config file needs 'true' for flags instead of the "1" that was in the
Python version.  For example,

multiplex=true

I'll let you know how it goes.

On Sun, Apr 4, 2021 at 2:46 PM Wouter de Bie ***@***.***>
wrote:

[2021-04-05 11:58] wouterdebie commented on #26
Yes there are a few difference here and there. Let me know how it goes.

On Mon, Apr 5, 2021, 00:16 Croq360 ***@***.***> wrote:

[2021-04-06 17:02] eiddor commented on #4
Docker discussion and stuff moved to the new project: https://github.com/wouterdebie/locast2tuner/issues/17

[2021-04-07 19:17] detodotv opened #29 "source list empty"
hello, i am trying to install this using Ubuntu 18, but i have this error

E: Type '<!DOCTYPE' is not known on line 1 in source list /etc/apt/sources.list.d/locast2tuner.list
E: The list of sources could not be read.

this url is empty

https://wouterdebie.github.io/my_ppa/sources.list

any ideas?

thank you!

[2021-04-07 19:17] #29 closed

[2021-04-19 21:07] wouterdebie commented on #26
@deathbybandaid Not sure if you've seen it, but I've fully moved over to locast2tuner development. With rust I've been able to get nice packages and such :) Apart from that Rust is awesome!
Did you ever figure SSDP out? I have not been able to get Plex or Emby to discover anything and I'm thinking of just not implementing this at all.

[2021-04-19 21:08] #17 closed

[2021-04-19 21:08] #4 closed

[2021-04-20 00:30] deathbybandaid commented on #26
It's easy enough to copy ip:port into emby/plex manually anyway.

[2021-04-26 03:26] DevsysName opened #30 "Running from docker yml file."
I'm getting error:
Could not load selected file LoadError("No such file or directory (os error 2)")
thread 'main' panicked at 'Username required', src/config.rs:75:14

is this looking for a config file? if so what is the correct naming for it?

Dockerfile:
-------------------
version: '3'
services:
  locast2tuner:
    image: ghcr.io/wouterdebie/locast2tuner
    environment:
      - L2DUSER=mymail@

[2021-04-26 15:04] wouterdebie commented on #30
Unfortunately locast2dvr is deprecated. You could have a look at [locast2tuner](http://github.com/wouterdebie/locast2tuner). And you seem to be mixing up a log of things here..

[2021-04-26 16:29] #8 closed